
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark w-100 navbarre">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_index') }}">Wild Series</a>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Les séries</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path('program_index') }}">Toutes les séries</a>
                    <a class="dropdown-item" href="{{ path('program_new') }}">Ajout de série</a>
                    <!-- <a class="dropdown-item" href="#">Database</a> -->
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Catégories</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path('category_index') }}">Toutes les catégories</a>
                    <a class="dropdown-item" href="{{ path('category_new') }}">Ajout de catégorie</a>
                   <!-- <a class="dropdown-item" href="#">Database</a> -->
                </div>
            </li>
             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Saison</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path('season_index') }}">Toutes les saisons</a>
                    <a class="dropdown-item" href="{{ path('season_new') }}">Ajout de saison</a>
                   <!-- <a class="dropdown-item" href="#">Database</a> -->
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('actor_index') }}">Acteur</a>
            </li>
        </ul>
    </nav>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
